table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

th {
    background: #EED2EE;
    text-align: left;
}
tr:nth-child(even) {
    background: #F0F0FF;
}
tr:nth-child(odd) {
    background: #FFFFFF;
}

th, td {
     border: none;
     padding: 5;
     margin: 0;
}

#newTodoForm {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#newTitle {
    width: 200;
}

#newContent {
    width: 400;   
}
